<div id="main">

<form action="./<%=element._id%>" method="post">
        <label for="name">Name</label>
        <input type="text" id="item" name="item" value="<%=element.item%>">
        <label for="name">Qty</label>
        <input type="text" id="qty" name="qty" value="<%=element.qty%>">
        <label for="name">Status</label>
        <input type="text" id="status" name="status" value="<%=element.status%>">
        <label for="name">Size</label>
        <input type="text" id="size" name="size" value="<%=JSON.stringify(element.size)%>" size="30">


        <input type="submit" class="form-submit" value="Edit">
</form>

</div>